:root {
  --primary-color: black;
  --secondary-color: #cce6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

/* top navigation bar  */
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  overflow: hidden;
}

/* this will style the navbar links  */
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin-bottom: 15px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  -webkit-font-smoothing: antialiased;
}

#showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 0 20px;
  text-shadow: #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--secondary-color) url(/assets/images/cover.png) no-repeat
    center center/cover;
}

.video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

/* insert overlay / filter */
.video:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(82, 60, 60, 0.4);
  position: absolute;
}

/* bring text to front */
.content {
  z-index: 2;
}

/* button styling*/
.btn {
  display: inline-block;
  padding: 10px 20px;
  background: var(--secondary-color);
  color: black;
  border-radius: 5px;
  border: solid white 1px;
  margin-top: 25px;
  opacity: 0.7;
}

/* button hover effects */
.btn:hover {
  transform: scale(0.98);
}

h2 {
  margin: 10px 0;
  color: var(--primary-color);
  font-size: 2.5rem;
  padding-bottom: none;
  text-align: center;
}

h3 {
  padding-bottom: 20px;
  text-align: center;
}

section {
  padding: 40px;
  text-align: center;
}

section p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
  padding-bottom: 100px;
}

img {
  max-width: 100%;
  width: 30%;
  height: 30%;
}

#tours img {
  width: 35%;
  height: 35%;
}

#friends-picture-1 {
  width: 50%;
  height: auto;
  padding-bottom: 40px;
}

#friends-picture-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

label {
  font-weight: 700;
  padding-right: 5px;
  padding-left: 5px;
}

/* text box styling */
input[type="text"] {
  width: 30%;
  font-size: small;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#msgbox {
  width: 50%;
  font-size: medium;
}
/* submit button styling */
input[type="submit"] {
  background-color: grey;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* submit button styling */
input[type="submit"]:hover {
  background-color: var(--primary-color);
}

/* form background and padding */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 40px;
}

#contact h3 {
  padding-top: 40px;
}

.social a {
  margin: 0 5px;
  text-align: center;
}

footer {
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
  margin: auto;
}

footer p {
  padding-bottom: 30px;
}

/* A image shake hover effect from w3schools */
img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
